* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
body {
  min-width: 1280px;
  background: #ffffff;
  font-size: 14px;
  font-family: 'Microsoft YaHei', SimSun, SimHei;
  color: #444;
}
body.body_bg {
  background: #f8f9fb;
}
body a {
  color: inherit;
}
body a:hover {
  text-decoration: none;
  color: #576b95;
}
body a.link:hover {
  text-decoration: underline;
}
body a.link_text {
  color: #576b95;
}
body button,
body input {
  outline: none !important;
}
body .full_height {
  height: 100% !important;
}
.btn {
  font-size: 14px;
}
.container-fluid,
.container,
.row,
.col {
  padding: 0;
  margin: 0 auto;
}
.container {
  width: 960px;
}
.com_head_1 {
  height: 60px;
  background: #ffffff;
  padding: 0 50px;
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.com_head_1 .logo {
  font-size: 20px;
  line-height: 60px;
}
.com_head_1 .logo a {
  display: inline-block;
}
.com_head_1 .logo a img {
  height: 40px;
}
.com_modal {
  background: #ffffff;
  border-radius: 0.3em;
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 20px 30px 30px;
}
.com_modal h4 {
  font-size: 18px;
}
.com_head_2 {
  background: #ffffff;
  padding: 0 40px;
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
}
.com_head_2 > div {
  height: 100%;
}
.com_head_2 .logo {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}
.com_head_2 .logo img {
  height: 100%;
}
.com_head_2 .nav_box {
  float: right;
  list-style: none;
  height: 100%;
  margin-bottom: 0;
}
.com_head_2 .nav_box li {
  padding: 0 15px;
  float: left;
  height: 60px;
  position: relative;
}
.com_head_2 .nav_box li a {
  display: inline-block;
  line-height: 60px;
}
.com_head_2 .nav_box li .more {
  cursor: pointer;
  height: 100%;
  line-height: 60px;
}
.com_head_2 .nav_box li .more span {
  display: inline-block;
}
.com_head_2 .nav_box li .more .iconfont {
  color: #999999;
  font-size: 12px;
}
.com_head_2 .nav_box li .line {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #999999;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.com_head_2 .nav_box li .more_list {
  position: absolute;
  opacity: 0;
  display: none;
  transition: all 0.3s linear 0s;
  width: 160px;
  left: -80px;
  top: 60px;
  background: #ffffff;
  border-radius: 0.3em;
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.com_head_2 .nav_box li .more_list .sanjiao {
  position: absolute;
  top: -16px;
  right: 20px;
  background: url(../images/common/long_icon.png) 0 -344px no-repeat;
  width: 28px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
}
.com_head_2 .nav_box li .more_list .item {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.com_head_2 .nav_box li .more_list .item a {
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}
.com_foot {
  padding: 16px 0 40px;
}
.com_foot .foot_links {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.com_foot .foot_links a {
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  line-height: 1;
  color: #999999;
  border-left: 1px solid #d6d6d6;
}
.com_foot .foot_links a:first-child {
  padding-left: 0;
  border-left: 0;
}
.com_foot .foot_msg {
  padding-top: 10px;
  color: #999999;
  font-size: 12px;
}
.c999 {
  color: #999999;
}
.c666 {
  color: #666666;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
